#app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 30px;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#app main {
  margin-left: 30px;
}

@media (max-width: 1000px) {
  #app {
     flex-direction: column;
  }
  #app main {
    margin-left: 0px;
    margin-top: 30px;
  }
}

aside {
  width: 320px;
  background: #FFF;
  box-shadow: 0 0 14 0 rgba(0, 0, 0.02);
  border-radius: 2px;
  padding: 30px 20px;
}

@media (max-width: 1000px) {
  aside {
    width: 100%;
  }
}

aside strong {
  font-size: 20px;
  text-align: center;
  display: block;
  color: #333;
}

aside form {
  margin-top: 30px;
}

aside form .input-block + .input-block {
  margin-top: 20px;
}

aside form .input-group {
  margin-top: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

aside form .input-group .input-block {
  margin-top: 0;
}

aside form .input-block label{
  color: #ACACAC;
  font-size: 14px;
  font-weight: bold;
  display: block;
}

aside form .input-block input{
  width: 100%;
  height: 32px;
  color: #666;
  font-size: 14px;
  border: 0;
  border-bottom: 1px solid #eee;
  display: block;
}

aside form button[type=submit] {
  width: 100%;
  border: 0;
  margin-top: 30px;
  background: #7d40e7;
  border-radius: 2px;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  transition: background 0.5s;
}

aside form button[type=submit]:hover {
  background: #6931ca;
}

main {
  flex: 1;
}

main ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  list-style: none;
}

@media (max-width: 600px) {
  main ul {
   grid-template-columns: 1fr;
  }
}

